
  <ul class="nav nav-tabs" id="speciesTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if not photos_first %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#table_view" type="button" role="tab" aria-controls="table_view" aria-selected="true">Table</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link {% if photos_first %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#photos" type="button" role="tab" aria-controls="photos" aria-selected="false">Photos</button>
    </li>
  </ul>
  <div class="tab-content" id="speciesTabContent">
    <div class="tab-pane fade {% if not photos_first %}show active{% endif %}" id="table_view" role="tabpanel" aria-labelledby="table_view">
      <div class="mt-2 mb-2">
        {% include "core/_species.table.html" %}
      </div>
  </div>
    <div class="tab-pane fade {% if photos_first %}show active{% endif %}" id="photos" role="tabpanel" aria-labelledby="photos">
      <div class="row mt-2">
        {% include "core/_species.list.html" %}
      </div>
    </div>
  </div>
