{% load static %}

<div class="fcc-box text-white p-5 mt-5">
  <div class="row">
    <div class="col-1" style="overflow:hidden">
      <i class="fal fa-file-alt ms-3"></i>
    </div>

    <div class="col-9">
      <h2>Our strategy document</h2>
      <p>
        <em>
        Learn more about this topic in our fynbos corridor strategy document!
        </em>
      </p>
      <p>
        A community-focused strategy to increase socio-ecological connectivity in Cape
        Town. This strategy takes you from the basics of understanding what Fynbos is
        to prioritising where to work. It includes a step-by-step guide towards
        rehabilitation of stepping-stone gardens. 
      </p>
      <a href="/media/files/FCC_-_Fynbos_Stepping-Stone_Corridor_Strategy.pdf" class="btn btn-light">
        <i class="fa fa-download fa-fw"></i>
        Download document (PDF)
      </a>
    </div>
    <div class="col-2">
      <img src="{% static "img/logo.img.png" %}" alt="" class="float-end">
    </div>
  </div>
</div>
