{% extends "_base.html" %}
{% load static %}

{% block content %}

  <h1>High-impact strategic river corridors</h1>

  {% include "core/_tabs.corridors.rivers.html" %}

  <h3 class="mt-4">{{ info }} Corridor</h3>

  <div class="row mb-4">
    <div class="col-lg">
      <img src="{{ info.image.large.url }}" alt="" class="rounded shadow-sm mb-4">
      <a href="{{ info.image.url }}" class="btn btn-pink">
        <i class="fal fa-fw fa-download me-1"></i> Download (PNG, {{ info.get_image_size|floatformat:0 }} kb)
      </a>
    </div>
    <div class="col-lg">
      <h4 class="mt-3">Description</h4>

      <div>
      {{ info.general_description|linebreaksbr }}
      </div>

      <h4 class="mt-3">What makes this an appealing project?</h4>

      <ul>
        <li>
          The {{ info }} is a backbone of this corridor. By following a river, there is
          potential to use an existing ecological corridor.
        </li>
        <li>
          The {{ info }} has poor water quality and is often a liability in social and
          environmental terms. By working on restoring the vegetation around the river,
          the actual river receives attention. We recommend linking this project with
          additional river cleanup and restoration efforts.
        </li>
        <li>
          The selected area is currently not close to high-quality nature, based on the
          Bionet network. By working on gardens in this area, there is an opportunity
          to reduce the distance to nature for people living here.
        </li>
      </ul>

      <p>To learn more about the method behind selecting this corridor, <a href="/corridors/rivers/methodology/">click here</a>.</p>

      <h4 class="mt-5">Social description</h4>

      <div>
      {{ info.social_description|linebreaksbr }}
      </div>
    </div>
  </div>

  <h4 class="mt-5">Ward profiles</h4>
  <p>
    Below we show some demographic information of some
    of the wards that this corridor passes through. This gives you an idea of 
    some of the differences between the areas. It must be noted that wards are 
    often rather large areas and this is not a clear-cut profile of all the 
    people in the corridor area. However, it does give an idea of some of the 
    socio-economic characteristics of the people in the area. 
  </p>

  <p>
      We recommend that bridging the social divides between different areas is
      a fundamental part of corridor building. This can also include using
      resources from the wealthier parts to support activities in the less
      affluent parts.
  </p>

  <p><em>Profiles powered by <a href="https://wazimap.co.za/">Wazimap</a></em></p>

  <div class="container">
    <div class="row">
      {% for ward in info.wards %}
      <div class="col">
        <iframe id="cr-embed-ward-{{ ward }}-demographics-population_group_distribution" class="census-reporter-embed" src="https://wazimap.co.za/embed/iframe.html?geoID=ward-{{ ward }}&geoVersion=2016&chartDataID=demographics-population_group_distribution&dataYear=2011&chartType=column&chartHeight=200&chartQualifier=&chartRelease=Census+2011&chartTitle=Population+group&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
        <iframe id="cr-embed-ward-{{ ward }}-households-annual_income_distribution" class="census-reporter-embed" src="https://wazimap.co.za/embed/iframe.html?geoID=ward-{{ ward }}&geoVersion=2016&chartDataID=households-annual_income_distribution&dataYear=2011&chartType=column&chartHeight=200&chartQualifier=&chartRelease=Census+2011&chartTitle=Annual+household+income&initialSort=&statType=scaled-percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 720px;"></iframe>
        <iframe id="cr-embed-ward-{{ ward }}-households-type_of_dwelling_distribution" class="census-reporter-embed" src="https://wazimap.co.za/embed/iframe.html?geoID=ward-{{ ward }}&geoVersion=2016&chartDataID=households-type_of_dwelling_distribution&dataYear=2011&chartType=pie&chartHeight=200&chartQualifier=&chartRelease=Census+2011&chartTitle=Households+by+type+of+dwelling&initialSort=&statType=percentage" frameborder="0" width="100%" height="300" style="margin: 1em; max-width: 300px;"></iframe>
      </div>
      {% endfor %}
    </div>
  </div>

  <p><a href="../" class="btn btn-primary">&laquo; Back</a></p>

  <script src="https://wazimap.co.za/static/js/embed.chart.make.js"></script>

{% endblock %}
