{% extends "_base.html" %}
{% load static %}

{% block content %}

  <h1>{{ info }}</h1>

  {{ info.get_content }}

  <div class="row">
    {% for id,name in corridors.items %}
      <div class="col-3 mb-2">
        <div class="card">
          <a href="{% url "corridor_rivers" id %}">
            <img src="/media/corridors/corridor{{ id }}.png" class="card-img-top fixed-thumb" alt="">
          </a>
          <div class="card-body">
            <h5 class="card-title"><a href="{% url "corridor_rivers" id %}">{{ name }} Corridor</a></h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
