{% extends "_base.html" %}

{% block css %}
<style type="text/css">
#map{height:80vh}
</style>
{% endblock %}

{% block content %}

  <h1>{{ page }}</h1>
  {{ page.get_content }}

  <div id="map" class="mb-4"></div>

  <div class="row">
    {% for each in all %}
      <div class="col-3 mb-2">
        <div class="card">
          <a href="{% url "garden" each.id %}">
            <img src="{{ each.get_photo_medium }}" class="card-img-top fixed-thumb" alt="{{ each }}">
          </a>
          <div class="card-body">
            <h5 class="card-title"><a href="{% url "garden" each.id %}">{{ each.name }}</a></h5>
            <p><em>{{ each.suburb }}</em></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Suburb</th>
      </tr>
    </thead>
    <tbody>
    {% for each in all %}
      <tr>
        <td><a href="{% url "garden" each.id %}">{{ each }}</a></td>
        <td>{{ each.suburb }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}

{% block footer %}
<script type="text/javascript">

  var geojsonlayer = L.geoJSON().addTo(map);
  {% for each in all %}
    {% if each.geometry %}
    var garden_{{ each.id }} = {{ each.geometry.geojson|safe }};
    var g_{{ each.id }} = L.geoJSON(garden_{{ each.id }}).addTo(map).bindPopup("{{ each.get_popup }}");
    {% endif %}
  {% endfor %}
  var all_geojson = new L.featureGroup([{% for each in all %}{% if each.geometry %}g_{{ each.id }},{% endif %}{% endfor %}]);
  map.fitBounds(all_geojson.getBounds());

</script>
{% endblock %}
