{% extends "_base.html" %}

{% block content %}

  <h1>
    {% block title %}{{ info }}{% endblock %}
  </h1>

  <div class="row">
    <div class="col-6">

      <figure class="mb-3">
        <img src="{{ info.get_photo_medium }}" alt="" class="img-thumbnail" />
        
        {% if info.meta_data.original.image_credit %}
          <em>Image: <a href="{{ info.meta_data.original.image_link }}">{{ info.meta_data.original.image_credit }}</a></em>
        {% endif %}
      </figure>

      {% if info.description %}
        <h3>Description</h3>
        {{ info.description|safe }}
      {% endif %}

      {% if info.old.propagation_cutting %}
        <h3 class="mt-3">Propagation instructions - cuttings</h3>
        <p>{{ info.old.propagation_cutting|safe }}</p>
      {% endif %}

      {% if info.old.propagation_seed %}
        <h3 class="mt-3">Propagation instructions - seeds</h3>
        <p>{{ info.old.propagation_seed|safe }}</p>
      {% endif %}

      {% if info.get_links %}
        <h4 class="mt-3">Sources and references</h4>
        <ul>
        {% for key,value in info.get_links.items %}
          <li><a href="{{ value }}">{{ key }}</a></li>          
        {% endfor %}
        </ul>
      {% endif %}

    </div>

    <div class="col-6">
      <h3>Coordinates</h3>
      <p>{{ info.geometry.centroid }}</p>

      {% if info.organizations.count %}
        <h3>Involved organisations</h3>
        <ul class="list-unstyled">
        {% for each in info.organizations.all %}
          <li>{{ each }}</li>
        {% endfor %}
        </ul>
      {% endif %}

      {% if info.vegetation_types.all %}
        <h3>Vegetation types</h3>
        <ul>
          {% for each in info.vegetation_types.all %}
            <li><a href="{{ each.get_absolute_url }}">{{ each }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

        <h3>Vegetation type</h3>
        <p>{{ veg }}</p>

        <h3>Location analysis</h3>
        <p><a href="{% url "profile" info.get_lat info.get_lng %}">View location profile</a></p>
        <p>This will provide an overview of the garden based on its location.</p>

        {% if info.family %}
          <h3>Family</h3>
          <p><a href="{{ info.family.get_absolute_url }}">{{ info.family }}</a></p>
        {% endif %}

    </div>
  </div>

  {% if false %}
    <div>
      {% for key,value in info.meta_data.original.items %}
        <p><strong>{{ key }}</strong><br>
        {{ value }}</p>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
