{% extends "_base.html" %}

{% block footer %}
  {% if request.user.is_staff %}
    <script type="text/javascript">
    $(function(){
    $(".original-submission").click(function(){
      $(".openup").toggle();
    });
    });
    </script>
  {% endif %}
{% endblock %}

{% block content %}

  <h1>{% block title %}{{ info }}{% endblock %}</h1>
  <a href="{% url "gardens" %}">&laquo; Back to stepping-stone garden network</a>

  {% if not info.active %}
    <div class="alert alert-warning">
      <i class="fa fa-info-circle"></i>
      Please note: this garden is not yet publicly active. You can review and edit this garden before activating.
      <form method="post">
        <button type="submit" name="activate" value="true" class="btn btn-success mt-3">Activate this garden</button>
        {% csrf_token %}
      </form>
    </div>
  {% endif %}

  <div class="row my-4">
    <div class="col-6">

      <img src="{{ info.get_photo_medium }}" alt="" class="rounded shadow-sm main-image" />

      {% if info.meta_data.original.image_credit %}
        <em>Image: <a href="{{ info.meta_data.original.image_link }}">{{ info.meta_data.original.image_credit }}</a></em>
      {% endif %}

    </div>

    <div class="col-6">
      {% if info.geometry %}

        <div id="map" class="rounded shadow-sm">
          {{ map|safe }}
        </div>

        <div class="mt-2">
          <small>
            Coordinates: <code>{{ info.geometry.centroid.1 }}, {{ info.geometry.centroid.0 }}</code>
          </small>
        </div>
      {% endif %}

      <a href="/gardens/" class="btn btn-pink mt-3">
        <i class="fal fa-arrow-left fa-fw me-1"></i> All gardens
      </a>
    </div>
  
  </div>

  <div class="row">
    <div class="col-6">
      {% if info.content %}
        <h3>Description</h3>
        {{ info.content|linebreaksbr|urlize }}
      {% endif %}

      <div>
        <h3 class="mt-4">Support</h3>

        <ul class="list-group list-group-horizontal">
          <a href="/contact/" class="list-group-item list-group-item-action flex-fill text-center border-purple bg-pink action">
            <i class="fal fa-handshake fa-2x fa-fw my-2"></i> <br>
            I would like to link my nearby garden to this one
          </a>
          <a href="/contact/" class="list-group-item list-group-item-action flex-fill text-center border-purple bg-pink action">
            <i class="fal fa-heart-circle fa-2x fa-fw my-2"></i> <br>
            I would like to support this garden
          </a>
          <a href="/contact/" class="list-group-item list-group-item-action flex-fill text-center border-purple bg-pink action">
            <i class="fal fa-edit fa-2x fa-fw my-2"></i> <br>
            I would like to register my own garden
          </a>
        </ul>
      </div>

    {% if photos.count > 1 %}
    <div class="row">
      <h4 class="mt-3"><a href="{% url 'garden_photos' info.id %}">Photos</a></h4>
      {% for each in photos %}
        <div class="col-3 mb-2">
          <div class="card">
            <a href="{% url 'garden_photo' info.id each.id %}">
              <img src="{{ each.get_photo_medium }}" class="card-img-top fixed-thumb" alt="{{ each }}">
            </a>
          </div>
        </div>
      {% endfor %}
      <p><a href="{% url 'garden_photos' info.id %}">View all photos ({{ info.photos.count }})</a></p>
    </div>
    {% endif %}

    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-sm">
          <div class="border rounded shadow-sm bg-white p-3 text-center mb-3">
            <i class="fal fa-fw fa-map me-2"></i> Suburb
            <h5 class="mt-2 mb-0 fw-bold">{{ info.suburb }}</h5>
          </div>

          <div class="border rounded shadow-sm bg-white p-3 text-center position-relative mb-3">
            <i class="fal fa-fw fa-leaf me-2"></i> Vegetation type
            <a class="text-decoration-none stretched-link" href="{{ info.vegetation_type.get_absolute_url }}">
              <h5 class="mt-2 mb-0 fw-bold">{{ info.vegetation_type }}</h5>
            </a>
          </div>

          {% if info.organizations.count %}
            <div class="border rounded shadow-sm bg-white p-3 text-center mb-3">
              <i class="fal fa-fw fa-users-class me-2"></i> Involved organisations
              <ul class="list-unstyled mb-0 mt-2">
              {% for each in info.organizations.all %}
                <li>
                  <h5 class="mt-2 fw-bold">
                    <a class="text-decoration-none" href="{{ each.url }}"> {{ each }}</a> <i class="fal fa-external-link-alt fa-fw ms-2"></i>
                  </h5>
                </li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="col-sm">
          <div class="border rounded shadow-sm bg-white p-3 text-center mb-3 position-relative">
            <i class="fal fa-fw fa-clipboard-list me-2"></i> Species list analysis
            <h5 class="my-2 fw-bold">
              <a class="stretched-link text-decoration-none" href="{% url 'profile' info.get_lat info.get_lng %}">Location plant profile</a>
            </h5>
            <small>Lists the plants that are most appropriate for this location</small>
          </div>

          <div class="border rounded shadow-sm bg-white p-3 text-center mb-3 position-relative">
            <i class="fal fa-fw fa-bullseye me-2"></i> Site analysis
            <h5 class="my-2 fw-bold">
              <a class="stretched-link text-decoration-none" href="{% url 'report' info.get_lat info.get_lng %}">Site analysis profile</a>
            </h5>
            <small>provides an overview of this location, including nearby features and corridor building opportunities</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h4>Update information</h4>
      <p>
        Do you want to update information on this page? 
        <a href="{% url "garden_manager" info.id %}">Click here</a>.
      </p>
    </form>
  </div>

  {% if request.user.is_staff %}
    <pre class="mt-5 alert alert-warning"><h5 style="cursor:pointer" class="original-submission">ORIGINAL SUBMISSION</h5><div class="openup" style="display:none">

{% for key,value in info.original.items %}
{{ key }}: {{ value }}
{% endfor %}</div></pre>
    <a class="btn btn-warning" href="{% url 'garden_form' info.id %}" style="position:fixed;bottom:10px;right:10px">
      <i class="fa fa-pencil"></i>
      Edit garden
    </a>
    <form method="post" style="position:fixed;bottom:10px;right:150px">
      <button type="submit" class="btn btn-danger" onclick="javascript:return confirm('Are you sure?')">Delete this garden</button>
      <input type="hidden" name="delete" value="true" />
      {% csrf_token %}
    </form>
  {% endif %}

  {% if false %}
    <div>
      {% for key,value in info.meta_data.original.items %}
        <p><strong>{{ key }}</strong><br>
        {{ value }}</p>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
