{% extends "_base.html" %}

{% block content %}
  <h1>FCC Website 2.0</h1>

  <p><strong>Temporary sitemap</strong></p>

  <ul>
    <li>Maps
      <ul>
        <li><a href="/maps/">Master map</a></li>
        <li><a href="/maps/">View list</a></li>
        <li><a href="/maps/">Bird gap map</a></li>
        <li><a href="/maps/">Garden network map</a></li>
      </ul>
    </li>
    <li>
      Our garden network
      <ul>
        <li><a href="{% url "gardens" %}">Introduction</a></li>
        <li><a href="http://">View map</a></li>
        <li><a href="http://">Start a new garden</a></li>
        <li><a href="http://">Add your garden</a></li>
        <li><a href="http://">Become a member</a></li>
      </ul>
    </li>
    <li>Fynbos rehabilitation
      <ul>
        <li><a href="/vegetation-types/">Vegetation types</a></li>
        <li><a href="/species/">Species list</a></li>
        <li><a href="http://">Resources</a></li>
      </ul>
    </li>
    <li>Join us
      <ul>
        <li><a href="http://">Starter's kit</a></li>
        <li><a href="http://">Trainings and workshops</a></li>
        <li><a href="http://">Online course</a></li>
      </ul>
    </li>
    <li>Community
      <ul>
        <li><a href="http://">Forum</a></li>
        <li><a href="http://">Questions and answers</a></li>
        <li><a href="http://">Events</a></li>
      </ul>
    </li>
    <li>About us
      <ul>
        <li><a href="http://">History</a></li>
        <li><a href="http://">Our organisations</a></li>
        <li><a href="http://">News</a></li>
      </ul>
    </li>
    <li>Tools
      <ul>
        <li><a href="http://">Numato</a></li>
        <li><a href="/report/">My report generator</a></li>
        <li><a href="/species/">Species finder</a></li>
      </ul>
    </li>
  </ul>

  <h2>Create report</h2>
  <form action="/report/">
    Latitude:
    <input type="text" name="lat" value="-33.9641" />
    <br>
    Longitude:
    <input type="text" name="lng" value="18.5113" />
    <br>
    <button type="submit">Generate report</button>
  </form>

  <h2>Samples</h2>
  <ul>
    <li><a href="/report/?lat=-34.070078&lng=18.571595">Strandfontein</a></li>
  </ul>

  <h2>Import scripts</h2>
  <ul>
    <li><a href="http://0.0.0.0:7777/?import_species=true">Load species (add csv to media)</a></li>
    <li><a href="http://0.0.0.0:7777/?species_images=true">Set photos (put species/ in media)</a></li>
    <li><a href="http://0.0.0.0:7777/?gardens=true">Load gardens (add csv to media; copy sites from /media in communitree to /media in fcc)</a></li>
  </ul>
{% endblock %}
