{% extends "_base.html" %}

{% block title %}Homepage{% endblock %}

{% block css %}
  <style>
  </style>
{% endblock %}

{% block content %}
  <div class="row py-4">
    <div class="col-sm-6 mb-2">
      <h3 class="mb-4">
        Despite its immense ecological and social value, the fynbos
        biome is one of the world’s most threatened ecosystems.
      </h3>
      <p>
        In addition to the ecological pressures facing the city, Cape Town also
        continues to battle numerous social challenges.
        In response to these ecological and social challenges, the need for
        community-led fynbos rehabilitation in Cape Town is gaining traction.
        However, while well-intentioned, these numerous fynbos rehabilitation
        projects tend to be isolated and uncoordinated and, as a result, are
        limited in their impact.
        As a response to this situation, the Fynbos Corridor Collaboration was
        established in 2018.
      </p>

      <a href="/media/files/FCC_-_Fynbos_Stepping-Stone_Corridor_Strategy.pdf" class="btn btn-pink">
        <i class="fal fa-download fa-fw me-1"></i>
        Download our strategy (PDF)
      </a>

      <a class="btn btn-purple" href="/about/">
        About us <i class="fal fa-arrow-right fa-fw ms-1"></i>
      </a>
    </div>

    <div class="col-sm-6 mb-2">
      <div class="border rounded p-3 bg-white shadow-sm">
        <h2>Online Tools: Introduction</h2>
        <video controls preload="auto" width="100%" height="360">
          <source src="/media/introvideo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>

      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card border-0">
        <a href="/fynbos-rehabilitation/">
          <img src="/media/guide/overview.png" class="card-img-top fixed-thumb" alt="">
        </a>
        <div class="card-body">
          <h5 class="card-title">Fynbos rehabilitation guide</h5>
          <p><em>Use our 6-step guide to develop your own stepping-stone fynbos rehabilitation garden</em></p>
          <a href="/fynbos-rehabilitation/" class="btn btn-purple stretched-link">
            Start now <i class="fal fa-arrow-right fa-fw ms-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card border-0">
        <a href="/report/">
          <img src="/media/siteanalysis.png" class="card-img-top fixed-thumb" alt="">
        </a>
        <div class="card-body">
          <h5 class="card-title">Instant site analysis</h5>
          <p><em>Find out how to identify a suitable location for your fynbos garden!</em></p>
          <a href="/report/" class="btn btn-purple stretched-link">
            Use our tool <i class="fal fa-arrow-right fa-fw ms-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card border-0">
        <a href="/corridors/rivers/">
          <img src="/media/corridors/rivers.png" class="card-img-top fixed-thumb" alt="">
        </a>
        <div class="card-body">
          <h5 class="card-title">High-impact strategic river corridors</h5>
          <p><em>View our approach to identifying high-impact strategic corridors in the city.</em></p>
          <a href="/corridors/rivers/" class="btn btn-purple stretched-link">
            Read more <i class="fal fa-arrow-right fa-fw ms-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-2">
      <div class="card border-0">
        <a href="{% url 'garden' garden.id %}">
          <img src="{{ garden.get_photo_medium }}?" class="card-img-top fixed-thumb" alt="{{ garden }}">
        </a>
        <div class="card-body">
          <h4 class="card-title"><i class="fa fa-star fa-fw"></i> Spotlight garden</h4>
          <h5 class="card-title">{{ garden.name }}</a>
          <p><em>{{ garden.suburb }}</em></p>
          <a href="/gardens/" class="btn btn-purple stretched-link">
            Stepping-stone gardens <i class="fal fa-arrow-right fa-fw ms-1"></i>
          </a>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
