{% extends "_base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static "css/leaflet.multilayer.css" %}" />
{% endblock %}

{% block content %}

  <h1>{% block title %}Maps{% endblock %}</h1>

  <div class="alert alert-warning">
    <strong>Notes</strong>
    <br>
    Most of the currently developed parts relate to a set of mapping features that visitors
    can use for various purposes. There is a main map with a set of layers. Some 13 initial
    layers have been set up, based on shapefiles made available by the City of Cape Town, 
    academics, and others.
  </div>

  <div id="map" class="leaflet-map"></div>

  <h3>Browse maps</h3>

  <div class="row">
      {% for each in maps %}
        {% ifchanged each.type %}
          {% if each.type != 1 %}
          </div>
          {% endif %}
          <div class="col col-lg-3 col-md-4 col-sm-6">
          </ul>
          <h4>{{ each.get_type_display }}</h4>
          <ul>
        {% endifchanged %}
        <li><a href="{% url "map" each.id %}">{{ each }}</a></li>
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "_leaflet.multilayer.html" %}
{% endblock %}
