{% extends "_base.html" %}

{% block content %}

<h1>
{% if garden %}
  <a href="{% url "garden" garden.id %}">{{ garden }}</a> &raquo;
{% endif %}
Photos</h1>

{% if photo %}
  <div class="text-center mt-4 mb-5">
    <img src="{{ photo.get_photo_large }}" class="img img-thumbnail" alt="">
  {% if photo.description %}
    <div class="mb-2">{{ photo.description }}</div>
  {% endif %}
  {% if photo.author %}
    <div class="mb-2">Photographer: {{ photo.author }}</div>
  {% endif %}
  </div>
{% endif %}

<div class="row">
  {% for each in photos %}
    <div class="col-2 mb-2">
      <div class="card">
        <a href="{% url "garden_photo" garden.id each.id %}">
          <img src="{{ each.get_photo_thumbnail }}" class="card-img-top fixed-thumb" alt="{{ each }}">
        </a>
      </div>
    </div>
  {% endfor %}
</div>

<div class="alert alert-secondary">
  <span class="step-links">
    {% if photos.has_previous %}
      <a class="btn btn-dark" href="?page=1">&laquo; first</a>
      <a class="btn btn-dark" href="?page={{ photos.previous_page_number }}">previous</a>
    {% endif %}

    <div class="text-center">
      Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
    </div> 

    {% if photos.has_next %}
      <div class="text-end">
        <a class="btn btn-dark" href="?page={{ photos.next_page_number }}">next</a>
        <a class="btn btn-dark" href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
      </div>
    {% endif %}
  </span>
</div>

{% if garden %}
<a href="{% url "garden" garden.id %}">Back to {{ garden }}</a>
{% endif %}

{% endblock %}
