{% extends "_base.html" %}

{% block css %}
<style type="text/css">
.map{height:120vh;width:50vh}
</style>
{% endblock %}

{% block title %}Priority map{% endblock %}

{% block content %}

  <h1>High-impact strategic river corridors</h1>

  <p>
    Cape Town is a large, expansive city with very high diversity. Almost all areas in Cape Town
    could do with more greening. However, in order to focus our energy in a way that small bits
    of greening adds up to a connected network, it makes sense to focus energy on a few strategic areas. 
  </p>



<p>
Instead of recommending a single, specific corridor to be formed in Cape Town, the Fynbos Corridor 
Collaboration instead encourages the formation of stepping-stone garden networks 
from the ground up. We 
try to encourage individuals, groups, and organisations to team up and link their efforts, and thus
set up a corridor within their own area or area of interest. Linking people and harnessing existing
energy is what we aim for, rather than prescribing everyone to work on the same, single corridor. 
</p>

<p>
However, we do highly  encourage people to pick a strategic location
for their work.  For individuals wanting to green their own area, we  have a
mapping tool just for that - the Instant Site Analysis tool. This allows for the strategic selection
of a site within your own neighborhood, depending on nearby infrastructure that permits
corridor building later on. 
</p>

<p>
Secondly, there are different organisations active in Cape Town that are working towards
a specific corridor goal. We encourage people living in these areas to link up with
these initiatives and look into connecting new gardens with the existing work. Please check
out our existing corridor maps to see what is currently being worked on. 
We invite organisations that are missing from this map to get in touch with us 
in order to have their work added to this map. 
</p>

<p>
Thirdly, we appreciate that there might be groups or organisations that are looking to start 
a large-scale ecological restoration or complementary project in the city. The Fynbos
Corridor Collaboration aims to assist these initiatives by providing insights into
high-impact strategic river corridors. These are areas that were specifically selected
with the goal of both being ecologically valuable and also having a high social impact potential. 
For those that are flexible in where they work, and that have ambitious goals, we recommend
you check out our high-impact strategic river corridors.
</p>




  <h2>Poor quality rivers</h2>

  <p>The following rivers were identified:</p>

  <ul>
  {% for each in rivers %}
    <li><a href="{{ each.get_absolute_url }}">{{ each }}</a></li>
  {% endfor %}
  </ul>

  <p>
    In here, we noticed that the Lotus Canal was missing. However, from experience
    working along this canal, we feel that this river should also be included. It is not 
    of a high quality and has a lot of potential. We therefore added these as well. 
  </p>

  <div id="river_map" class="map"></div>

  <h2>Adding a buffer</h2>

  <p>
    In order to find suitable areas, we added a 200m buffer around all the rivers.
    The result is the map below.
  </p>

  <div id="river_buffermap" class="map"></div>

  <h2>Loading bionet</h2>
  <div id="bionet_flatmap" class="map"></div>

  <h2>Adding a buffer to it</h2>
  <div id="bionet_buffermap" class="map"></div>

  <h2>Overlaying the rivers onto that map</h2>
  <div id="overlaymap" class="map"></div>

  <h2>And then doing a cutout to see which river segments are highest priority</h2>
  <div id="map" class="map"></div>

{% endblock %}

{% block footer %}
<script type="text/javascript">

  var green = {
    "color": "green",
    "weight": 2,
    "opacity": 0.65
  };

  var river_segment = {{ river_segments.geojson|safe }};
  var feature = L.geoJson(river_segment).addTo(map);
  map.fitBounds(feature.getBounds());

  // RIVER BUFFERMAP
  var river_buffermap = L.map("river_buffermap", {
    zoom: 11,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
    center: [{{ lat }}, {{ lng }}],
  });
  // add tile layer
  var ttt = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    layer: "tiles",
  })
  ttt.addTo(river_buffermap);
  L.control.Download({ position: "topleft" }).addTo(river_buffermap);
  // toggle scrollwheel zoom when entering/exiting fullscreen
  river_buffermap.on("fullscreenchange", function () {
    if (river_buffermap.isFullscreen()) {
      river_buffermap.scrollWheelZoom.enable()
    } else {
      river_buffermap.scrollWheelZoom.disable()
    }
  });
  var river_buffer = {{ river_buffer.geojson|safe }};
  var river_buffer_feature = L.geoJson(river_buffer).addTo(river_buffermap);
  river_buffermap.fitBounds(river_buffer_feature.getBounds());
  // END OF RIVER BUFFER MAP

  // RIVER MAP
  var river_map = L.map("river_map", {
    zoom: 11,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
    center: [{{ lat }}, {{ lng }}],
  });
  // add tile layer
  var ttt = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    layer: "tiles",
  })
  ttt.addTo(river_map);
  L.control.Download({ position: "topleft" }).addTo(river_map);
  // toggle scrollwheel zoom when entering/exiting fullscreen
  river_map.on("fullscreenchange", function () {
    if (river_map.isFullscreen()) {
      river_map.scrollWheelZoom.enable()
    } else {
      river_map.scrollWheelZoom.disable()
    }
  });
  {% for each in rivers %}
    var river_{{ each.id }} = {{ each.geometry.geojson|safe }};
    var river_{{ each.id }}_feature = L.geoJson(river_{{ each.id }}).addTo(river_map);
  {% endfor %}
  river_map.fitBounds(river_buffer_feature.getBounds());
  // END OF RIVER MAP


  // BIONET FLATMAP
  var bionet_flatmap = L.map("bionet_flatmap", {
    zoom: 11,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
    center: [{{ lat }}, {{ lng }}],
  });
  // add tile layer
  var ttt = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    layer: "tiles",
  })
  ttt.addTo(bionet_flatmap);
  L.control.Download({ position: "topleft" }).addTo(bionet_flatmap);
  // toggle scrollwheel zoom when entering/exiting fullscreen
  bionet_flatmap.on("fullscreenchange", function () {
    if (bionet_flatmap.isFullscreen()) {
      bionet_flatmap.scrollWheelZoom.enable()
    } else {
      bionet_flatmap.scrollWheelZoom.disable()
    }
  });
  var bionet_flat = {{ bionet_flat.geojson|safe }};
  var bionet_flat_feature = L.geoJson(bionet_flat, {style:green}).addTo(bionet_flatmap);
  bionet_flatmap.fitBounds(river_buffer_feature.getBounds());
  // END OF BIONET FLATMAP

  // BIONET BUFFERMAP
  var bionet_buffermap = L.map("bionet_buffermap", {
    zoom: 11,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
    center: [{{ lat }}, {{ lng }}],
  });
  // add tile layer
  var ttt = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    layer: "tiles",
  })
  ttt.addTo(bionet_buffermap);
  L.control.Download({ position: "topleft" }).addTo(bionet_buffermap);
  // toggle scrollwheel zoom when entering/exiting fullscreen
  bionet_buffermap.on("fullscreenchange", function () {
    if (bionet_buffermap.isFullscreen()) {
      bionet_buffermap.scrollWheelZoom.enable()
    } else {
      bionet_buffermap.scrollWheelZoom.disable()
    }
  });
  var bionet_buffer = {{ bionet_buffer.geojson|safe }};
  var bionet_buffer_feature = L.geoJson(bionet_buffer, {style:green}).addTo(bionet_buffermap);
  bionet_buffermap.fitBounds(river_buffer_feature.getBounds());
  // END OF BIONET BUFFERMAP

  // OVERLAY MAP
  var overlaymap = L.map("overlaymap", {
    zoom: 11,
    scrollWheelZoom: false,
    fullscreenControl: true,
    renderer: L.canvas(),
    center: [{{ lat }}, {{ lng }}],
  });
  // add tile layer
  var ttt = L.tileLayer("https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={{ MAPBOX_API_KEY }}", {
    attribution: "Map data &copy; <a href='https://www.openstreetmap.org/'>OpenStreetMap</a> contributors, <a href='https://creativecommons.org/licenses/by-sa/2.0/'>CC-BY-SA</a>, Imagery © <a href='https://www.mapbox.com/'>Mapbox</a>",
    id: "{% if leaflet.style %}{{ leaflet.style }}{% elif properties.map_layer_style %}mapbox/{{ properties.map_layer_style }}{% else %}mapbox/streets-v11{% endif %}",
    tileSize: 512,
    zoomOffset: -1,
    layer: "tiles",
  })
  ttt.addTo(overlaymap);
  L.control.Download({ position: "topleft" }).addTo(overlaymap);
  // toggle scrollwheel zoom when entering/exiting fullscreen
  overlaymap.on("fullscreenchange", function () {
    if (overlaymap.isFullscreen()) {
      overlaymap.scrollWheelZoom.enable()
    } else {
      overlaymap.scrollWheelZoom.disable()
    }
  });
  L.geoJson(bionet_buffer, {style:green}).addTo(overlaymap);
  L.geoJson(river_buffer).addTo(overlaymap);
  overlaymap.fitBounds(river_buffer_feature.getBounds());
  // END OF OVERLAY MAP

</script>
{% endblock %}
