{% extends "_base.html" %}

  {% block title %}
    {% if title %}{{ title }} - {% endif %}
    Choose plants
  {% endblock %}

{% block head %}
<style type="text/css">
.col-3 > ul > li > a {
  font-size:20px;
  font-weight:bold;
  color:#333;
  margin-top:20px;
  text-decoration: none;
  display: block;
}
</style>
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-3 bg-light p-3">
        <h4><i class="fa fa-leaf fa-fw"></i> Vegetation type</h4>
        <a href="{{ link }}vegetation-type/">{{ info.name }}</a>

        <ul class="list-unstyled">
          <li class="mt-5"><h4><i class="fa fa-users fa-fw"></i> Species for social value</h4>
            <ul>
              <li><a href="{{ link }}plants/edible/">Edible plants</a></li>
              <li><a href="{{ link }}plants/medicinal/">Medicinal plants</a></li>
            </ul>
          </li>
          <li class="mt-5"><h4><i class="fa fa-leaf fa-fw"></i> Ecological function</h4>
            <ul>
              <li><a href="{{ link }}plants/pioneers/">Pioneer species</a></li>
              <li><a href="{{ link }}plants/birds/">Bird-friendly plants</a></li>
              <li><a href="{{ link }}plants/insects/">Insect-friendly plants</a></li>
            </ul>
          </li>
          <li hidden>
            <a href="{{ link }}nearby/"><i class="fa fa-map-signs fa-fw"></i> Nearby</a>
            <ul>
              <li><a href="{{ link }}nearby/remnants/">Natural remnants</a></li>
              <li><a href="{{ link }}nearby/rivers/">Rivers</a></li>
              <li><a href="{{ link }}nearby/parks/">Parks</a></li>
              <li><a href="{{ link }}nearby/schools/">Schools</a></li>
              <li><a href="{{ link }}nearby/cemeteries/">Cemeteries</a></li>
            </ul>
          </li>
          <li hidden>
            <a href="{{ link }}biodiversity/"><i class="fa fa-fw fa-crow"></i> Biodiversity</a>
            <ul>
              <li><a href="{{ link }}biodiversity/map/">View map</a></li>
              <li><a href="{{ link }}biodiversity/animals/">Animals</a></li>
            </ul>
          </li>
        </ul>

        <form method="post" class="mt-5">
          <input type="hidden" name="next" value="true" />
          <button type="submit" class="btn btn-success"><strong>Go to the next step  &raquo;</strong><br>(Design your garden)</button>
          {% csrf_token %}
        </form>
            
      </div>
      <div class="col-9">

        {% if title %}
          <h2>{{ title }}</h2>
        {% endif %}

        {% if not info %}
          <p><em>Please go to the SELECT A SITE section to try selecting a place from the map.</em></p>
        {% endif %}

        {% if section == "vegetation-type" %}

          {% include "core/_vegetationtype.html" %}

        {% elif subsection == "pioneers" %}
          <p>
            The following species can be used as some of the first 
            species to be planted. They are hardy, fast-growing, and will 
            tolerate soil that is not in a great condition. Make sure you
            plant these species <em>before</em> adding more sensitive species.
          </p>
          {% include "core/_species.grid.html" %}

        {% elif subsection == "birds" %}
          <p>
            With your garden, you can attract different bird species. Depending on 
            your location, you can target specific species, or plant more generalist
            bird-friendly species. Below is an overview of relevant plants
            for {{ info }}.
          </p>

          <h3 class="mt-4">Sunbirds</h3>
          {% with species_list=sunbird_list %}
            {% include "core/_species.grid.html" %}
          {% endwith %}

          <h3 class="mt-4">Sugarbirds</h3>
          {% with species_list=sugarbird_list %}
            {% include "core/_species.grid.html" %}
          {% endwith %}

          <h3 class="mt-4">Generalist bird-friendly species</h3>
          {% with species_list=bird_list %}
            {% include "core/_species.grid.html" %}
          {% endwith %}

        {% elif subsection == "insects" %}
          <p>
            With your garden, you can attract different insect species. 
            Insects are important for pollination of many plants, and a number of insect
            species are able to thrive in cities, as long as they can find food. 
            Below are relevant plant species within the 
            {{ info }} vegetation type.
          </p>

          <h3 class="mt-4">Monkey beetles</h3>
          {% with species_list=monkeybeetle_list %}
            {% include "core/_species.grid.html" %}
          {% endwith %}

          <h3 class="mt-4">Honey bees</h3>
          {% with species_list=bee_list %}
            {% include "core/_species.grid.html" %}
          {% endwith %}

        {% elif subsection == "edible" %}
          <p>
            The following species are edible.
          </p>
          {% include "core/_species.grid.html" %}

        {% elif subsection == "medicinal" %}
          <p>
            The following species have medicinal value.
          </p>
          {% include "core/_species.grid.html" %}

        {% elif section == "nearby" %}

          <h2>{{ subsection|title }}</h2>

          <p>
            We have found <strong>{{ layer.count }} {{ subsection }}</strong>
            within proximity of your location. 

            {% if layer.count > 0 %}
            You can see them on the maps below, 
            or you can jump to <a href="#full-list">the list</a> by clicking here.
            {% endif %}
          </p>

          {% if layer.count > 0 %}

            <h3>Street map</h3>

            {{ map|safe }}

            <h3 class="mt-4">Satellite map</h3>
            {{ satmap|safe }}

            <h3 class="mt-4">List</h3>

            <p>These are the items we found:</p>

            <div class="list-group list-group-flush mb-4">
              {% for each in layer %}
                <a href="{% url "space" each.id %}" class="list-group-item list-group-item-action">{{ each.name }}</a>
              {% endfor %}
            </div>

            <p>The city-wide map with all {{ subsection }} can be found <a href="{% url "map" source.id %}">here</a>.</p>

          {% endif %}

        {% else %}
          <h1>Choose plants</h1>

          {% if suburb %}
            <p class="alert alert-warning">
              This is the species profile based on the following coordinates:
              <strong>{{ lat }}, {{ lng }}</strong>. 
              <br>
              This location is in <strong>{{ suburb }}</strong>.
              If you want to change this, please go to
              <a href="../site-selection/">Site Selection</a>.
            </p>

            {% if species.count < 15 %}
              <div class="alert alert-danger">
                Please note: unfortunately we do not have many plant species
                indexed for {{ info }}. We are working hard to expand our database and we hopefully have 
                more species suggestions for you soon. 
                If you know of any reference studies that were done on your vegetation type, which can help
                us build a species list, please <a href="/contact">get in touch</a>.
              </div>
            {% endif %}

          {% endif %}

          {{ page.get_content }}

        {% endif %}

      </div>
    </div>
  </div>

{% endblock %}
