{% extends "_base.html" %}
{% load static %}

{% block css %}
<style>
  .list-group-item.active {
    background-color: #efefef;
    border-color: #00000020;
    color: #212529;
  }

  .icon-square {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      border-radius: .75rem;
  }

  .fadeout {
    opacity:0.4;
  }

  #map {
    height: 800px;
  }

  .leaflet-container .leaflet-popup-content a {
    color:#fff
  }
</style>
{% endblock %}

{% block content %}

<ul class="list-group list-group-horizontal text-center mb-4">
  <a href="../" class="list-group-item list-group-item-action">Introduction</a>
  <li class="list-group-item list-group-item-action active">{% block title %}Select your location{% endblock %}</li>
  <li class="list-group-item list-group-item-action disabled">View report</li>
</ul>

<div class="border rounded bg-white shadow-sm p-3 mb-4 d-inline-block">
  Select the location you want to analyse on the map
</div>

<div class="mb-4 rounded shadow-sm" id="map">
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
	var popup = L.popup();

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("Confirm location?<br><br><a href='./?lat=" + e.latlng.lat + "&amp;lng=" + e.latlng.lng + "' class='btn btn-primary'>Confirm</a>")
			.openOn(map);
	}

	map.on('click', onMapClick);
</script>
{% endblock %}
