{% extends "_base.html" %}
{% load static %}

{% block title %}{% if site_selection %}Select a site{% else %}Instant site analysis{% endif %}{% endblock %}

{% block css %}
<style type="text/css">
.changelog {
  display: none;
}
.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.rounded-5 {
  border-radius: 1rem;
}
</style>
{% endblock %}

{% block content %}

  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
        <img src="{% static "img/report.jpg" %}" alt="" />
      </div>
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">


        {% if site_selection %}
          <h1>Step 1. Select a site</h1>
          <p class="lead mb-4">
            The first step in starting a stepping stone garden is finding a suitable site.
            Through this tool, you can review the suitability of a site that you might be
            considering. All you have to do is select the location on a map, and the system
            will give you insights into the suitability of your site.
          </p>
        {% else %}
          <h1>Instant site analysis</h1>
          <p class="lead mb-4">
            Are you keen to learn what the original vegetation type is of your own garden, your nearby community garden,
            or a potential plot? What plants you should start the garden with? Which species to introduce so that you 
            can have structure and diversity? What remnants are nearby or which potential corridors or other gardens
            you can connect with? Enter your coordinates and a full report becomes available!
          </p>
        {% endif %}

        <div class="d-flex flex-column flex-md-row">
          <a href="map/" class="btn btn-lg btn-primary mb-3 me-md-3">Start</a>
          <a href="{% url "site_selection_how_this_works" %}" class="btn btn-lg btn-outline-secondary mb-3">How this works</a>
        </div>
        <p class="text-muted mb-0">
          Currently <strong>v1.1</strong>
          <span class="px-1">·</span>
          <a href="#" id="changelog" class="link-secondary">View changelog</a>
          {% if False %}
            <span class="px-1">·</span>
            <a href="/docs/versions/" class="link-secondary">Acknowledgements</a>
          {% endif %}
          <br>
          <br>
          This tool has been developed by <a href="https://communitree.in">Communitree</a> in collaboration with
          <a href="https://www.cput.ac.za/academic/faculties/appliedsciences/departments/biodiversity/researchers/geerts">Sjirk Geerts</a>.
        </p>

        <section class="changelog mt-5">
          <h3>Changelog</h3>

          <p><strong>Oct 14, 2021</strong>
          <br>
          v1.0 - First version of the site analysis.
          </p>

          <p><strong>Oct 22, 2021</strong>
          <br>
          v1.1 - Instead of showing all maps individually on the page, the mapping system
          uses a single map with individual layers that can be turned on or off.
          </p>

        </section>
      </div>
    </div>

  </div>

  {% if not site_selection %}

    <h2 class="mb-3">Sample reports</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch pb-5">

      <div class="col">
        <a href="{% url "report" "-33.95419" "18.47564" %}">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/media/photos/105_LXaLdPK.large.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Huis Luckhoff Community Garden</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-items-center me-3">
                  <i class="fa fa-map-marker fa-fw"></i>
                  <small>Rosebank</small>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="{% url "report" "-33.92726661986745" "18.416876755463903" %}">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/media/gardens.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Company Gardens</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-items-center me-3">
                  <i class="fa fa-map-marker fa-fw"></i>
                  <small>City Centre</small>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>

      <div class="col">
        <a href="{% url "report" "-33.93506424409194" "18.646030426025394" %}">
          <div class="card card-cover h-100 overflow-hidden text-dark bg-dark rounded-5 shadow-lg" style="background-image: url('/media/belhar.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Pentech train station</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="d-flex align-items-center me-3">
                  <i class="fa fa-map-marker fa-fw"></i>
                  <small>Belhar</small>
                </li>
              </ul>
            </div>
          </div>
        </a>
      </div>

    </div>

<p>
<small>
Company gardens photo
by <a href="//commons.wikimedia.org/w/index.php?title=User:KNewman1&amp;action=edit&amp;redlink=1" class="new" title="User:KNewman1 (page does not exist)">KNewman1</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=21716195">Link</a>
</small>
</p>

  {% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript">
$(function(){
  $("#changelog").click(function(e){
    e.preventDefault();
    $(".changelog").toggle("fast");
  });
});
</script>
{% endblock %}
