{% extends "_base.html" %}

{% block content %}

  <h1>{% block title %}{{ info }}{% endblock %}</h1>

  <img src="{{ info.photo.image.large.url }}" alt="" />

  {{ info.description|safe }}

  {% if info.features.count %}
    <h3>Features</h3>
    <ul>
    {% for each in info.features.all %}
      <li>{{ each }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <div>
    {% for key,value in info.meta_data.original.items %}
      <p><strong>{{ key }}</strong><br>
      {{ value }}</p>
    {% endfor %}
  </div>


{% endblock %}
