{% load static %}

<nav class="navbar navbar-expand navbar-light bg-pink">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">About us</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "about" "introduction" %}">Introduction</a></li>
            <li><a class="dropdown-item" href="{% url "about" "history" %}">History</a></li>
            <li><a class="dropdown-item" href="{% url "about" "our-organisations" %}">Our organisations</a></li>
            <li><a class="dropdown-item" href="{% url "about" "contact-form" %}">Contact form</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Fynbos rehabilitation</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/">Introduction</a></li>
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/site-selection/">1. Select a site</a></li>
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/assessment/">2. Assess and Envision</a></li>
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/plant-selection/">3. Choose plants</a></li>
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/design/">4. Design your garden</a></li>
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/work-plan/">5. Make a work plan</a></li>
            <li><a class="dropdown-item" href="/fynbos-rehabilitation/monitoring/">6. Monitor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Our garden network</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "gardens" %}">Introduction</a></li>
            <li><a class="dropdown-item" href="http://">View map</a></li>
            <li><a class="dropdown-item" href="http://">Add your garden</a></li>
            <li><a class="dropdown-item" href="http://">Become a member</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Join us</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "join" "trainings-and-workshops" %}">Trainings and workshops</a></li>
            <li><a class="dropdown-item" href="{% url "join" "online-course" %}">Online course</a></li>
            <li><a class="dropdown-item" href="{% url "join" "whatsapp-groups" %}">Whatsapp groups</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Resources</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/maps/">Maps</a></li>
            <li><a class="dropdown-item" href="/vegetation-types/">Vegetation types</a></li>
            <li><a class="dropdown-item" href="/species/">Species list</a></li>
            <li><a class="dropdown-item" href="{% url "resources" "teaching-resources" %}">Teaching resources</a></li>
            <li><a class="dropdown-item" href="{% url "rehabilitation_site_selection" %}">Instant site analysis</a></li>
            <li hidden><a class="dropdown-item" href="http://">Numato</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          {% if request.user.is_authenticated %}
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url "logout" %}?next={{ request.get_full_path }}">Logout</a></li>
            <li><a class="dropdown-item" href="{% url "admin:index" %}">Site administration</a></li>
          </ul>
          {% else %}
          <a class="nav-link" href="{% url "login" %}?next={{ request.get_full_path }}">
            <i class="fa fa-user"></i>
          </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light load-bg">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="p-4" src="{% static 'img/logo.png' %}" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

